<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiki.database.demo.mapper.SearchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shiki.database.demo.entity.Search">
        <id column="hot_search_id" property="hotSearchId" />
        <result column="hot_search_name" property="hotSearchName" />
        <result column="hot_url" property="hotUrl" />
        <result column="hot_click" property="hotClick" />
        <result column="create_time" property="createTime" />
        <result column="is_del" property="del" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

</mapper>
