<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiki.database.demo.mapper.UserLiveHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shiki.database.demo.entity.UserLiveHistory">
        <id column="id" property="id" />
        <result column="live_id" property="liveId" />
        <result column="user_id" property="userId" />
        <result column="last_watch_time" property="lastWatchTime" />
        <result column="count_time" property="countTime" />
        <result column="is_del" property="del" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
