<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiki.database.demo.mapper.VideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shiki.database.demo.entity.Video">
        <id column="id" property="id" />
        <result column="column_id" property="columnId" />
        <result column="title" property="title" />
        <result column="brief" property="brief" />
        <result column="image" property="image" />
        <result column="url" property="url" />
        <result column="is_del" property="del" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
